.container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.inside {
    background-color: #f6c56e;
    color: #323f4b;
    padding: 20px;
    font-family: Roboto;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
}

h1 {
    font-family: Bree Serif;
}

 button {
    background-color: #ffffff;
    border-radius: 5px;
    height: 40px;
    width: 110px;
    border-width: 0px;
    font-family: Roboto;

}